* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.three-scene-container {
  height: 100vh;
  background: url(./assets/1.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}